@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;700&display=swap");
.theme-switch {
  position: absolute;
  right: 1em;
  top: 1.5em;
}

.theme-switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.theme-switch div input {
  display: none;
}

.theme-switch div .slider {
  background-color: #999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
}

input:checked + .slider {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

body {
  --bkg-color: #fff;
}

body.dark-theme {
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  body {
    --bkg-color: #121212;
  }
  body.light-theme {
    --bkg-color: #fff;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bkg-color);
  font-family: "Source Serif Pro", serif;
}

a {
  text-decoration: none;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .title {
  margin-top: 0.5em;
  color: #5c99d6;
  font-size: 1.8em;
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.container form select,
.container form input,
.container form button {
  font-size: 1em;
}

.container form select {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.container button {
  background-color: #5c99d6;
  color: white;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-color: transparent;
}

.sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-title > p {
  font-weight: bold;
  font-size: 1.5em;
}

.shades {
  color: #383434;
  margin: 0.5em auto;
}

.tints {
  color: #c3bebe;
  margin: 0.5em auto;
}

@media only screen and (min-width: 520px) {
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 800px) {
  .container .title {
    margin-top: 0.7em;
    font-size: 2.2em;
  }
  .container form {
    margin-top: 0.7em;
    margin-bottom: 1em;
  }
  .container form select,
  .container form input,
  .container form button {
    font-size: 1.1em;
  }
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 970px) {
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (min-width: 1250px) {
  .container .title {
    margin-top: 0.8em;
    font-size: 3em;
  }
  .container form {
    margin-top: 0.9em;
    margin-bottom: 1.2em;
  }
  .container form select,
  .container form input,
  .container form button {
    font-size: 1.2em;
  }
  .sub-title > p {
    font-size: 1.9em;
  }
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
  }
}

@media only screen and (min-width: 1450px) {
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto auto;
  }
}
/*# sourceMappingURL=App.css.map */