@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Serif Pro", serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title {
  margin-top: 0.5em;
  color: #5c99d6;
  font-size: 1.8em;
}

.container form {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.container form select,
.container form input,
.container form button {
  font-size: 1em;
}

.container form select {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.container button {
  background-color: #5c99d6;
  color: white;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-color: transparent;
}

.sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-title > p {
  font-weight: bold;
  font-size: 1.5em;
}

.shades {
  color: #383434;
  margin: 0.5em auto;
}

.tints {
  color: #c3bebe;
  margin: 0.5em auto;
}

@media only screen and (min-width: 520px) {
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 800px) {
  .container .title {
    margin-top: 0.7em;
    font-size: 2em;
  }
  .container form {
    margin-top: 0.7em;
    margin-bottom: 1em;
  }
  .container form select,
  .container form input,
  .container form button {
    font-size: 1.2em;
  }
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 970px) {
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (min-width: 1250px) {
  .container .title {
    margin-top: 0.8em;
    font-size: 2.5em;
  }
  .container form {
    margin-top: 0.9em;
    margin-bottom: 1.2em;
  }
  .container form select,
  .container form input,
  .container form button {
    font-size: 1.4em;
  }
  .sub-title > p {
    font-size: 1.9em;
  }
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
  }
}

@media only screen and (min-width: 1450px) {
  .colors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto auto;
  }
}
/*# sourceMappingURL=App.css.map */